<form>
    <table
        style="padding: 0.5cm;margin: 1cm;background-color: aliceblue;border-radius: 20%;border: 1px rgb(114, 128, 250) solid;">
        <tr>
            <th colspan="2">
                <h2 style="text-align: center;"><u>Room Booking</u></h2>
            </th>
        </tr>
        <tr>
            <td style="padding: 0.3cm;">User Name</td>
            <td style="padding: 0.3cm;">
                <input type="text" value="" name="UserName" placeholder="UserName" required>
            </td>

        </tr>
        <tr>
            <td style="padding: 0.3cm;">Room</td>
            <td style="padding: 0.3cm;">
                <input type="text" value="" name="email" placeholder="Email id" required>
            </td>

        </tr>
        <tr>
            <td style="padding: 0.3cm;">Purpose</td>
            <td style="padding: 0.3cm;">
                <input type="text" value="" name="purpose" placeholder="Purpose" required>
            </td>

        </tr>
        <tr>
            <td style="padding: 0.3cm;">Participants</td>
            <td style="padding: 0.3cm;">
                <!--#nameField is templet refrence used to refere on same page it can be of anytime
                It is used when we want value of any field on same page-->
                <input type="text" value="" name="Participants" placeholder="Participants" required>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 0.5cm;">
                <input type="button" value="Book Room" (click)="Book()">
            </td>
        </tr>
    </table>
</form>